<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{ title }}</title>
  
  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 text-green-800">

<nav class="flex items-center justify-between flex-wrap bg-green-500 p-6 rounded-md bg-gradient-to-r from-green-400 to-green-600">
  <div class="flex items-center space-x-2">
  
      <img src="/static/images/budget_app.ico" alt="Budget logo" class="h-15 w-15">
      <a href="index.html" class="text-white font-bold text-lg pl-8">Home</a>
    
  </div>

  <div class="flex space-x-5 text-white">
    <a href="create_budget.html" class="hover:text-amber-200 hover:text-xl hover:-translate-y-1 transform ease-in-out">Budget</a>
    <a href="resources.html" class="hover:text-amber-200 hover:text-xl hover:-translate-y-1 transform ease-in-out">Resources</a>
    <a href="summary.html" class="hover:text-amber-200 hover:text-xl hover:-translate-y-1 transform ease-in-out">Summary</a>
    
  </div>

</nav>

<h1>{{ description }}</h1>

</body>

</html>
