<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/static/images/budget_app.ico" type="image/x-icon">
  
  <title>{{ title }}</title>
  
  <!-- Tailwind CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 text-green-800">

<nav class="flex items-center justify-between flex-wrap bg-green-500 p-6 rounded-md bg-gradient-to-r from-green-400 to-green-600">
  <div class="flex items-center space-x-2">
  
      <img src="/static/images/budget_app.ico" alt="Budget logo" class="h-10 w-10">
      <a href="index.html" class="text-white font-bold text-2xl hover:text-amber-200 pl-8 ease-in-out delay-200">Home</a>
    
  </div>

  <div class="flex space-x-5 text-white text-2xl">
    <a href="create_budget.html" class="hover:text-amber-200 hover:text-2xl hover:-translate-y-0.5 transform ease-in-out delay-75">Budget</a>
    <a href="resources.html" class="hover:text-amber-200 hover:text-2xl hover:-translate-y-0.5 transform ease-in-out delay-75">Resources</a>
    <a href="summary.html" class="hover:text-amber-200 hover:text-2xl hover:-translate-y-0.5 transform ease-in-out delay-75">Summary</a>
    
  </div>

  <div class="flex">

  </div>

</nav>

<h1>{{ description }}</h1>

</body>

</html>
